## Next steps

Now that you have integrated the XMPP Interoperability and Standards Conformance tests into your build pipeline, it is time to start working with the tests!

We've compiled the following resources to help you with any run-time challenges that you may run into:

- [Choosing what test to run](/documentation/selecting-tests) - helps you choose how to disable specific tests (useful when you want to ignore a particular test for some reason).
- [Diagnose test failures](/documentation/diagnose-test-failures) - explains what you can do to find the reason that test is failing. Did we identify an issue in your server software? Find out!