---
---

figure.clicklogo img {
  padding-bottom: 1em;
}
figure.clicklogo figcaption {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin-left: unset;
}
figure.clicklogo figcaption a {
  color: unset;
}


figcaption {
    font-size: 0.8rem;
    margin-left: 2rem;
    margin-top: 0.5rem;
}